.card {
    width: 100%;
    max-width: 364px;
    height: 271px;
    object-fit: cover;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    padding-top: 14px;
    box-sizing: border-box;
    display: block;
}

.card__wrapper {
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: space-between;
    padding-right: 14px;
    align-items: flex-start;
}

.card__text-container {
    max-width: 280px;
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    box-sizing: border-box;
}

.card__title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__button {
    background: #F9F9F9;
    border-radius: 50%;
    background-image: url('../../images/card__save-icon.svg');
    border: none;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.card__button:hover {
    cursor: pointer;
    background-color: #2BE080;
}

.card__image {
    width: 100%;
    max-width: 364px;
    height: 203px;
}

@media screen and (max-width: 769px) {
    .card {
        height: 258px;
    }

    .card__image {
        height: 190px;
    }

    .card__wrapper {
        gap: 0;
    }
}