.section {
    box-sizing: border-box;
    padding: 0 70px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .section {
        padding: 0 50px;
    }
}

@media screen and (max-width: 769px) {
    .section {
        max-width: 768px;
    }
}

.section__header {
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
}

.section__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}