.student-info {
    display: flex;
    flex-direction: column;
    gap: 66px;
    padding-top: 110px;
    padding-bottom: 100px;
}

@media screen and (max-width: 769px) {
    .student-info {
        padding-top: 90px;
        padding-bottom: 90px;
        /*todo*/
    }
}

.student-info__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-info__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student-info__main-info {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 769px) {
    .student-info__main-info {
        gap: 20px;
        max-width: 355px;
    }
}

.student-info__wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (max-width: 769px) {
    .student-info__wrapper {
        gap: 16px;
    }
}

.student-info__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 900px) {
    .student-info__subtitle {
        font-size: 40px;
        line-height: 40px;
        /* identical to box height, or 100% */
    }
}

.student-info__caption {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #000000;
    mix-blend-mode: normal;
}

@media screen and (max-width: 900px) {
    .student-info__caption {
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */
    }
}

.student-info__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    color: #000000;
    mix-blend-mode: normal;
    margin: 0;
    max-width: 590px;
}

@media screen and (max-width: 900px) {
    .student-info__description {
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
        max-width: 364px;
    }
}

.student-info__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.student-info__link {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}

.student-info__img {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    /*display: block;*/
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .student-info__img {
        width: 255px;
        height: 307px;
    }
}