.technology {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    background: #F5F5F5;
    width: 100%;
}

@media screen and (max-width: 769px) {
    .technology  {
        padding-top: 92px;
        padding-bottom: 90px;
        gap: 79px;
    }
}

@media screen and (max-width: 426px) {
    .technology  {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 18px;
        padding-left: 18px;
        gap: 60px;
    }
}

.technology__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media screen and (max-width: 769px) {
    .technology__wrapper  {
        gap: 83px;
    }
}

@media screen and (max-width: 426px) {
    .technology__wrapper  {
        align-items: center;
        gap: 50px;
    }
}

.technology__text-container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .technology__text-container  {
        gap: 22px;
    }
}

@media screen and (max-width: 426px) {
    .technology__text-container  {
        gap: 24px;
    }
}

.technology__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

@media screen and (max-width: 769px) {
    .technology__subtitle  {
        font-size: 30px;
        line-height: 36px;
    }
}

.technology__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 460px;
}

@media screen and (max-width: 769px) {
    .technology__text  {
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
    }
}

@media screen and (max-width: 426px) {
    .technology__text  {
        font-size: 11px;
        line-height: 16px;
        /* or 145% */
    }
}

.technology__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 426px) {
    .technology__list  {
        max-width: 180px;
        justify-content: start;
    }
}

.technology__item {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    background: #E8E8E8;
    border-radius: 10px;
    width: 90px;
    height: 60px;
    padding-top: 21px;
    box-sizing: border-box;
}

@media screen and (max-width: 769px) {
    .technology__item  {
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        width: 84px;
        height: 57px;
    }
}

@media screen and (max-width: 426px) {
    .technology__item  {
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        width: 84px;
        height: 57px;
    }
}