.title-page {
    background: #073042;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 102px;
}

@media screen and (max-width: 900px) {
    .title-page {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 769px) {
    .title-page {
        padding-top: 300px;
        padding-bottom: 70px;
        padding-right: 44px;
        padding-left: 44px;
        gap: 140px;
    }
}

.title-page__title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* or 130% */
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    max-width: 600px;
}

@media screen and (max-width: 900px) {
    .title-page__title {
        text-align: center;
    }
}

.title-page__logo {
    width: 722px;
    height: 244px;
    opacity: 0.7;
    align-self: end;
}

@media screen and (max-width: 900px) {
    .title-page__logo {
        width: 680px;
        height: 230px;
    }
}