.search {
    padding: 77px 70px 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;
}

.search__form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search__input {
    padding: 15px 22px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    color: #A0A0A0;
    background: #F9F9F9;
    border-radius: 4px;
    border: none;
}

.search__input:focus {
    outline: 2px solid  #3456F3;
}

.search__button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    text-align: center;
    color: #FFFFFF;
    background: #3456F3;
    border-radius: 3px;
    width: 77px;
    height: 46px;
    border: none;
}

.search__button:hover {
    cursor: pointer;
}

.search__container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 39px;
}

.search__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    color: #000000;
    margin: 0;
}