.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.header_background_dark-blue {
    background: #073042;
}

.header_background_white {
    background: #FFFFFF;
}

.header_type_regular {
    padding: 18px 70px;
    max-width: 1280px;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__auth-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.header__auth-link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    color: #FFFFFF;
    box-sizing: border-box;
}

.header__auth-link_type_button {
    color: #000000;
    background: #2BE080;
    border-radius: 3px;
    padding: 8px 20px;
}

@media screen and (max-width: 900px) {
    .header_type_regular {
        padding: 18px 40px;
    }
}

@media screen and (max-width: 769px) {
    .header_type_regular {
        max-width: 768px;
        padding: 18px 30px;
    }
}

@media screen and (max-width: 426px) {
    .header_type_regular {
        padding: 18px 14px;
    }

    .header_type_auth {
        justify-content: center;
    }

    .header__auth-menu {
        gap: 14px;
    }

    .header__auth-link {
        font-size: 10px;
        line-height: 16px;
    }

    .header__auth-link_type_button {
        border-radius: 3px;
        padding: 5px 12px;
    }
}