.section {
    box-sizing: border-box;
    padding-left: 70px;
    padding-right: 70px;
}

.section__header {
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
}

.section__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 769px) {
    .section {
        max-width: 768px;
    }
}

@media screen and (max-width: 426px) {
    .section__header {
        padding-bottom: 28px;
    }

    .section__title {
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
    }
}